*.tar
*.tar.zst
archive/
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\ALL_BUILD.dir
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\CMakeFiles
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\compress_workload.dir
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\decompress_workload.dir
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\x64
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\ZERO_CHECK.dir
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\ALL_BUILD.vcxproj.filters
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\cmake_install.cmake
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\CMakeCache.txt
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\compress_workload.vcxproj
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\compress_workload.vcxproj.filters
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\decompress_workload.vcxproj
C:\Users\DivyaPalanisamy\bapco\bapco\workload\build\decompress_workload.vcxproj.filters

